@model View.Models.ProductViewModel

@{
    ViewData["Title"] = "GetProductsById";
}

<h1>GetProductsById</h1>

<div>
    <h4>ProductViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVatLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNhaSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNhaSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVatLieu)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
